@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color : #eb1c05;
    --logo-color: #eeecec;
    --hover-text: #FF7722;
    font-family: 'Lato', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  width: 100vw;
  height: 100vh;
  background-image: url('/hi_background_2.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
.navigationText{
  color: var(--logo-color);
  cursor: pointer;
}
.navigationTextHome:hover{
  color: var(--hover-text);
}
.navigationTextLogout:hover{
  color: var(--primary-color);
}
