@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color : #eb1c05;
    --logo-color: #eeecec;
    font-family: 'Lato', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  width: 100vw;
  height: 100vh;
  background-image: url('/hi_background_2.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}