.welcome{
    width: 100%;
    text-align: center;
    height: 10%;
}
.heading{
    color: var(--primary-color);
    font-family: 'Lato', sans-serif;
}
.topLine{
    padding: 0px;
    height: 0.125rem;
    background-color: var(--primary-color);
}
.navigationText{
    color: var(--logo-color);
    cursor: pointer;
}
.glassBackground{
    background-image: url('/hi_background_2.jpg');
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.glassBackground:before {
    content: '';
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(235, 68, 68, 0.5);
    filter: blur(10px);
    pointer-events: none;
}
.welcomeBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin: 2rem;

    @media (max-width:700px) {
        flex-direction: column;
    }
}




.getStartedButton{

    width: 15vw;
    height:8vh;
    background-color: rgba(0, 0, 255, 0.425);
    border-radius: 5%;
    font-weight: bold;
    color: white;
    margin-left: 35%;
    cursor: pointer;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.getStartedButton:hover{
    
    background-color: rgba(255, 0, 0, 0.534);
    
}
.getStartedButton:focus{
    
    background-color: rgba(255, 0, 0, 0.534);
    border: 1px solid white;
    
}
@media (max-width:900px) {
    .getStartedButton{
        width: 40vw;
        margin-left: 30%;
        
    } 
}
.googleLoginButton{
        padding-left: 40%;
        padding-right: 50%;
        cursor: pointer;
        @media (max-width:700px) {
                padding-left: 40%;
                padding-right: 50%; 
        }
        @media (max-width:500px) {
            padding-left: 30%; 
            }
}
.welcomeText{
    font-size: 4rem;
    
    @media (max-width:700px) {
        font-size: 3rem;    
}
        
    font: bold;
}
